.list-item {
  padding: 70px;
  overflow: auto;
  margin-bottom: 120px;
}

.list-item h2 {
  font-size: 30px;
  margin-bottom: 50px;
  color: wheat;
}

.list-item__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fadeIn 2s forwards;
  width: 400px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.list-item__unordered-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.list-item__list-button {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.list-item__list-button:hover {
  background-color: #c0392b;
}
